.welcome-block-right
	.welcome-block-slider(data-sliders 
													data-slideshare = '.slide-2'
													data-dotshare = '.dot-2'
													data-previous = ''
													data-next = ''
													data-times = '3500'
													data-index = '0'
													data-active = 'active-2'
													data-display = 'block'
													data-textslide = '')
		- sliderImg = ["upload/slider-thumb.jpg", "upload/slider-thumb-1.jpg", "upload/slider-thumb-2.jpg", "upload/slider-thumb-3.jpg"]
		- titles = ["welcom banner 1", "welcom banner 2", "welcom banner 3", "welcom banner 4",]
		+ul-group2('slide-2')
		ol.dots-2
			|
			|
			- for(var i = 1; i <= sliderImg.length; i++)
				li(class="dot-2")
				|
				|