.sliders(data-sliders)
	-
		var sliderImg = ["banner.png", "banner.png", "banner.png", "banner.png"]
	-
		var contents = ["know the unknown", "know the unknown", "know the unknown", "know the unknown",]
	- 
		var titles = ["banner 1", "banner 2", "banner 3", "banner 4",]
	- 
		var alts = ["slide-1", "slide-2", "slide-3", "slide-4",]
	+ul-group('slide slide-share')