include ../mixins/all
footer
	.footer-content
		h2 subscribe to trakd for further updates
		form(class='form-submit', action='#', method='post', name='submit')
			input(placeholder='First Name')
			input(placeholder='Last Name')
			input(placeholder='Email Address')
			button(name= 'submit') submit
		p privacy policy
