// build:js js/script.js
script(defer, src="js/l10n.js")
script(defer, src="js/libs.js")
script(defer, src="js/script.js")
// endbuild
// build:development-only
script(src="//localhost:35729/livereload.js")
// endbuild
